.welcome-screen {
  background: #fff;
  color: #000;
  height: 100lvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-screen h2{
  font-size: 2.5rem;
}

.welcome-screen h2:nth-of-type(2) {
  color: #999999;
}

.welcome-screen button {
  color: #000;
  padding: 14px 34px;
  border: 2px solid #000;
  font-weight: 550;
  text-align: center;
  cursor: pointer;
  border-radius: 40px;
  font-size: 16px;
  box-shadow: 0 2px #fff;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
  margin-top: 1rem;
}

.welcome-screen button:hover{
  transform: scale(1.05);
}

.welcome-screen button:active {
  transform: translateY(4px);
  box-shadow: 0 2px white;
}
