.hero-section {
  padding: 5rem;
  position: relative;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.hero-left h1 {
  font-size: 2.5rem;
}

.hero-left p {
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 500;
}

.toggles {
  display: flex;
  gap: 15px;
}

.toggles .resume {
  padding: 7px 20px;
  border: 2px solid #777575;
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #fff;
  font-family: "Baloo Bhai 2";
  transition: 0.5s ease-in-out;
}

.toggles .resume:hover {
  background-color: #882f84;
  color: #ffffff;
}

.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.toggles .socials {
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #777575;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 1.1rem;
  transition: 0.5s ease-in-out;
  background-color: transparent;
}
.toggles .socials:hover {
  background-color: #882f84;
  color: #ffffff;
}

.toggles .socials i {
  font-size: 1.2rem;
}

.hero-right {
  width: 50%;
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero-right img {
  width: 90%;
  height: 100%;
  border-radius: 14px;
}

.scroll-down-arrow {
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #ffffff;
  z-index: 10;
  cursor: pointer;
  transition: color 0.3s ease;
}

.scroll-down-arrow:hover {
  color: #ffffff;
}



@media (max-width:768px){
  .hero-section{
    padding: 3rem;
  }

  .hero-left h1{
    font-size: 2rem;
  }

  .hero-left p{
    font-size: 1rem;
  }

  .hero-right img {
    width: 100%;
  }
}


@media (max-width:425px){

  .hero {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .hero-left, .hero-right{
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .hero-left p{
    text-align: center;
  }

  .toggles{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width:375px){

  .hero-left h1{
    font-size: 1.8rem;
  }

  .hero-section{
    padding: 3rem 1rem;
  }

}
