.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1.5rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 24px rgba(114, 113, 113, 0.8);
  color: #fff;
}

.navbar.dark-text {
  color: #182e36;
}

.navbar.dark-text .nav-right ul li a {
  color: #999999;
}

.navbar.dark-text .nav-right ul li a:hover {
  color: #182e36;
}

.navbar.dark-text .hamburger div {
  background: #182e36;
}

.navbar.light-text {
  color: #ffffff; /* White text */
}

.navbar.light-text .nav-right ul li a {
  color: #ffffff;
}

.navbar.light-text .nav-right ul li a:hover {
  color: #ffffff;
}

.navbar.light-text .hamburger div {
  background: #ffffff;
}

.nav-left h2 {
  font-size: 1.2rem;
  letter-spacing: 1.2px;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-right ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav-right ul li {
  font-size: 1rem;
  list-style-type: none;
  cursor: pointer;
  letter-spacing: 1.2px;
}

.nav-right ul li a {
  text-decoration: none;
  font-weight: 550;
}

.nav-right ul li a:hover {
  color: #fff;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  margin-left: auto;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-right ul {
    position: absolute;
    top: 10px;
    right: 10px;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 1rem 2rem;
    border-radius: 15px;
    display: none;
  }

  .nav-right ul.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .nav-right ul li {
    color: #fff;
    text-align: right;
  }
}

@media (max-width: 425px) {
  .nav-left h2 {
    font-size: 1rem;
  }

  .nav-right ul {
    top: 50px;
    right: 20px;
  }

  .navbar {
    padding: 1.2rem 2rem;
  }

  .nav-right ul li {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .nav-left h2 {
    font-size: 0.8rem;
  }

  .hamburger div {
    width: 20px;
    height: 2px;
  }
}
