.navbar {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 1000;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.navbar li {
  list-style-type: none;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 50%;
  background-color: rgb(71, 71, 71);
  color: white;
  font-size: 1.2rem;
  transition: background-color 0.5s ease;
}

.active {
  background-color: #27ae60;
}

@media (max-width:768px) {
   .navbar{
    right: 10px;
   }

   .nav-icon{
    font-size: 1rem;
    width: 40px;
    height: 40px;
   }
}

@media (max-width:425px) {
  .navbar{
    display: none;
  }
}
