.skill-card {
    position: relative;
    background-color: #27272c;
    padding: 30px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  }
  
  .skill-card:hover {
    transform: scale(1.05);
  }
  
  .skill-icon {
    width: 48px;
    height: 48px;
    filter: brightness(0) invert(1);
  }
  
  /* Tooltip styling */
  .tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    margin-bottom: 2px;
  }
  
  /* .tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    width: 12px;
    height: 12px;
    background-color: white;
    transform: rotate(45deg);
    z-index: -1;
  } */
  
  .skill-card:hover .tooltip {
    opacity: 1;
  }
  