.projects-section {
  min-height: 100vh;
  padding: 5rem;
  background-color: #ffffff;
}

.projects-title {
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.project-card {
  background-color: #182e36;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
  cursor: pointer;
}

.project-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 1rem;
}

@media (max-width:425px) {
  .projects-section{
    padding: 2rem;
  }

  .project-card{
    padding: 1rem;
  }
}

@media (max-width:320px) {
  .projects-section{
    padding: 0.5rem;
  }


}
