.education-card{
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #27272c;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    gap: 10px;
    justify-content: space-around;
}

.education-card:hover {
    transform: scale(1.05);
  }

.education-card h5{
    color: #27ae60;
    font-size: 1rem;
    font-weight: 400;
}

.education-card h3{
    font-size: 1.4rem;

}

