.about-section {
  padding: 5rem;
  min-height: 100vh;
  background-color: #fff;
}

.about-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4rem;
}

.about-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  padding: 1rem;
}

.menu-button {
  flex: 1;
  background-color: transparent;
  color: #182e36;
  border: none;
  padding: 12px 22px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  text-align: center;
  font-family: "Baloo Bhai 2";
  letter-spacing: 1.3px;
  border: 2px solid #182e36;
}

.menu-button:hover {
  transform: scale(1.05);
}

.menu-button.active {
  background-color: #182e36;
  color: #ffffff;
}

.about-right {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 1rem;
  gap: 1rem;
}

.about-info{
  width: 50%;
}

.about-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 12px;
}

.about-right p {
  font-size: 1.1rem;
  line-height: 1.7;
  letter-spacing: 1px;
  color: #182e36;
}


@media (max-width:768px){
  .about-section{
    padding: 3rem;
  }

  .about-left, .about-right{
    padding: 0;
  }

  .about-right p {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #182e36;
  }
}

@media (max-width: 425px) {
  .about-section {
    padding: 1rem;
  }
  
  .about-left {
    flex-wrap: wrap;
  }

  .about-right {
    flex-direction: column;
  }

  .about-info{
    width: 100%;
  }

  .about-image{
    width: 100%;
  }

  .about-right h2 {
    font-size: 2rem;
    text-align: center;
  }

  .about-right p {
    font-size: 0.95rem;
    line-height: 1.5;
    text-align: justify;
  }

  .menu-button {
    font-size: 0.9rem;
  }
}

@media (max-width: 320px) {

  .menu-button {
    font-size: 0.85rem;
  }

  .about-right h2 {
    font-size: 1.5rem;
  }

  .about-right p {
    font-size: 0.85rem;
  }
}
