.hero-section {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
  /* height: 100vh; */
  position: relative;
}

.hero-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 30vw;
  background: #27ae60;
  clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);
  z-index: 1;
}
.hero-left {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}

.hero-left img {
  width: 70%;
  height: 80%;
  border-radius: 30px;
  filter: grayscale(100%);
}

.hero-left img:hover {
  filter: grayscale(0);
  transition: 1s ease;
  box-shadow: 4px 4px 10px #27ae60, -4px -4px 10px #1c1c22;
}

.hero-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 50%;
}

.hero-right h3 {
  font-size: 2rem;
}

.hero-right h1 {
  font-size: 3rem;
  padding-right: 10rem;
}

.hero-right .username {
  color: #27ae60;
  font-family: Prata;
}

.hero-right p {
  padding-right: 16rem;
  line-height: 1.6;
}

.toggles {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.toggles .resume {
  padding: 7px 20px;
  background-color: transparent;
  color: white;
  border: 1px solid #27ae60;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #27ae60;
  font-family: "Baloo Bhai 2";
}

.toggles .resume:hover {
  background-color: #27ae60;
  color: rgb(28 28 34);
  transition: 1s ease;
}

.toggles .socials {
  padding: 10px 12px;
  border-radius: 50%;
  border: 1px solid #27ae60;
  color: #27ae60;
  background-color: transparent;
  text-align: center;
}

.toggles .socials:hover {
  background-color: #27ae60;
  color: rgb(28 28 34);
  cursor: pointer;
  transition: 1s ease;
}

.toggles .socials i {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .hero-section {
    gap: 30px;
  }

  .hero-right {
    padding-right: 5rem;
  }
  .hero-right h3 {
    font-size: 1.5rem;
  }

  .hero-right h1 {
    font-size: 2.5rem;
    padding-right: 0;
  }

  .hero-right p {
    padding-right: 0;
  }

  .toggles .resume {
    padding: 7px 12px;
    font-size: 0.8rem;
  }

  .toggles .socials i {
    font-size: 0.8rem;
  }
}

@media (max-width: 425px) {
  .hero-section {
    width: 100vw;
    flex-direction: column-reverse;
    gap: 20px;
    height: 100vh;
  }

  .hero-section::before {
    content: "";
    height: 100vh;
    width: 100vw;
    background-image: url(../../assets/UserCharacter.png);
    filter: grayscale(100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    clip-path: none;
  }

  .hero-left {
    display: none;
  }

  .hero-right {
    width: 100vw;
    height: 80vh;
    padding: 10px 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 20;
  }

  .hero-right h3 {
    font-size: 1.5rem;
  }

  .hero-right h1 {
    font-size: 2rem;
  }

  .hero-right p {
    font-size: 0.95rem;
  }

  .toggles {
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 20px;
  }

  .toggles .resume {
    padding: 6px 16px;
    font-size: 0.85rem;
  }

  .toggles .socials {
    padding: 8px 10px;
  }

  .toggles .socials i {
    font-size: 1rem;
  }

  .hero-left img:hover {
    box-shadow: 4px 4px 10px #27ae60, -4px -4px 10px whitesmoke;
  }
}

@media (max-width: 375px) {
  .hero-right h1 {
    font-size: 1.9rem;
  }

  .hero-right h3 {
    font-size: 1rem;
  }
}
